<div class="reservation-card">
    <h2>Demande de Reservation</h2>
    <div class="field">
        <h4>Nom du client</h4>
        <p class="value">{{reservation.client.prenom}}</p>
    </div>
    <div class="field">
        <span>Produit</span>
        <div class="value">{{reservation.produit.nom}}</div>
    </div>
    <div class="field">
        <span>Date de la reservation</span>
        <div class="value">{{reservation.date | date:'dd/MM/yyyy'}}</div>
    </div>
    <div class="buttons">
        <button class="accept" (click)="Accepter()">Accepter</button>
    </div>
</div>