<!-- <footer class="">
  <div class=" container-fluid footer">
    <div class="row justify-content-center mr-0">
      <div class="footer-col col-xl-3 col-lg-4 col-md-6 col-12">
        <div>
          <img alt="" class="image_obligatoire" src="/assets/images/Web_Site_Beldilook_Home_02062023-removebg-preview.png" style="height: 144px;">        </div>
        <div class="social-links d-flex">
          <a href="https://web.facebook.com/beldilook">
            <h4>Fb.</h4></a>
          <div class="seprator"></div><a href="https://www.instagram.com/beldilook.app">
          <h4>Ig.</h4></a>
          <div class="seprator"></div><a href="https://www.youtube.com/channel/UCi_cw_1sOn5pR2bo7NGhong">
          <h4>Yb.</h4></a>
        </div>
      </div>
      <div class="footer-col col-xl-3 col-lg-4 col-md-6 col-12">
        <ul>
          <li>
            <p class="size">Casablanca</p>
          </li>
          <li>
            <p class="d-flex flex-column" style="max-width: 166px;"><span style="font-weight: 500 ; font-size: 14px;">Beldi Look.</span> 3 rue Ibn Jahir -ex Taravo Quartier bourgogne Casablanca - Maroc</p>
          </li>
        </ul>
      </div>
      <div class="footer-col col-xl-3 col-lg-4 col-md-6 col-12">
        <ul>
          <li>
            <p class="size">Demandes de travail</p>
          </li>
          <li>
            <p>Intéressé de travailler avec nous?</p>
          </li>
          <li>
            <a href="#">contact@beldilook.ma</a>
          </li>
          <li>
            <p class="mt-5 mb-0 size">Carrière</p>
          </li>
          <li style="max-width: 192px;">
            <p>Vous cherchez une opportunité d’emploi?</p>
          </li>
          <li>
            <a href="https://www.recrutement.beldilook.ma">Voir les postes ouverts</a>
          </li>
        </ul>
      </div>
      <div class="footer-col col-xl-3 col-lg-4 col-md-6 col-12 mb-50">
        <ul class="d-flex flex-column-reverse">
          <li style="list-style: none"><span id="span_email" style="color: rgb(218, 16, 16);margin-left:15px"></span></li>
          <li class="input_check gap-1">
            <div class="mb-3">
              <input aria-label="Checkbox for following text input" id="sub-check" style="opacity: .5" type="checkbox">
            </div>
            <p>Je suis d’accord pour recevoir des e-mails et faire suivre cette activité pour améliorer mon expérience.</p>
          </li>
          <li class="mb-3 d-flex justify-content-lg-start ml-3"><input aria-describedby="emailHelp" class=" input_email pl-2" id="email_inp" name="email" placeholder="email" type="email"> <button class="form-btn" onclick="enr_news()" style="z-index: 100">S'inscrire</button></li>
          <li>
            <p class="ml-3 pb-3 size">Recevoir notre Newsletter</p>
          </li>
        </ul>
      </div>
    </div>
    <div class="row justify-content-center mr-0">
      <div class="alert cockies alert-dismissible alert_cokies fade show text-light" role="alert">
        Ce site internet utilise des cookies pour une meilleure expérience utilisateur <button aria-label="Close" class="close" data-dismiss="alert" type="button"><span aria-hidden="true" class="btn_cokies">×</span></button>
      </div>
    </div>
  </div>
  <div class="row container-fluid justify-content-center mt-5 mb-4 m-0">
    <div class="col text-center">
      <a href="https://www.beldilook.ma/beldilook/politique_beldi_look.html" style="text-decoration:none ; color: black">
        <h5 style="font-size: 18px;">2023 Beldilook. All rights reserved</h5></a>
    </div>
    <div class="col p-0">
      <a class="d-flex" href="https://www.beldilook.ma/beldilook/politique_beldi_look.html" style="text-decoration:none ; color: black">
        <h6>Sécurité</h6>
        <p class="ml-2 mr-2"></p>
        <h6>|</h6>
        <p></p>
        <h6>Politique de confidentialité et de cookies</h6>
        <p class="ml-2 mr-2">|</p>
        <h6>CGV</h6></a>
    </div>
  </div>
</footer> -->



<footer class="footer">
<nav class="nav_top">
  <div class="container">
    <div class="row mr-0 responsive align-items-center">
    </div>
  </div>
</nav>
</footer>

