<app-header></app-header>
<br>
<br>
<br>
<div class="row" id="  width_card col-lg-3 col-md-4 col-sm-6 col-6 p-1 d-flex justify-content-center">
  <div *ngFor="let produit of produits " class="col-xl-3 col-lg-3 col-md-4 col-sm-2 d-flex articles_boutique_une" style="justify-content: center">
  <!-- <div *ngFor="let produit of produits" class="col-6 col-xl-4 col-lg-4 col-md-4 col-sm-6 d-flex flex-column move-right custom-size"> -->
    <div class="card card_content border-0" style="margin-left: 20px;margin-bottom: 20px; background-color:  #e5e7e9 ;">
      <a  routerLink="/article/{{produit.id}}">
        <div *ngFor="let image of produit.images">
          <img [src]="image.url" class="card-img-top img_product img-fluid" alt="product_card" style="height: 400px;object-fit: cover;">
        </div>
      </a>
      <img #favIcon [id]="'art' + produit.id" (click)="favoris(produit.id, favIcon.id)" class="topright pointer" height="30" width="30" src="../../assets/images/likevide_1.png" alt="">
      <div class="card-body p-2" style="text-align: center;">
        <h5 class="card-title mb-1">{{ produit.nom }}</h5>
        <p style="font-size: 14px" class="card-text mb-1"> {{"Categorie"|translate}} : {{ produit.categorie}} </p>
        <p style="font-size: 14px;margin-bottom: 7px;" class="card-text ">{{ produit.prixLocation}} <span class="ml-1">DH</span></p>
      </div>
      </div>
    </div>
  </div>
<div class="mt-5" style="text-align: center;padding-bottom:50px">
  <div *ngIf="TotalProduits.length > produitsParPage">
    <div *ngIf="page != 1">
  <button (click)="precedent()" class="paginationa" style="cursor: pointer">❮</button> {{page}}
    </div>
    <div *ngIf="page < TotalProduits.length / produitsParPage">
  <button (click)="suivant()" class="paginationa" style="cursor: pointer" [disabled]="page === TotalProduits.length / produitsParPage">❯</button>
    </div> 
</div>
</div>
<app-footer></app-footer>
