<div class="card card_content border-0">



    <!-- <a href="https://app.beldilook.ma/fr/boutiqua/488" > -->
    <a [routerLink]="'/boutiques/' + boutique.id">
        <!-- <img src="src/assets/images/202403201050332181A.JPEG" class="card-img-top img_product img-fluid" alt="product_card"> -->
        <div *ngFor="let image of boutique.images">
            <img [src]="image.url" class="card-img-top img_product img-fluid" alt="product_card" >
          </div>
    </a>




    <img id="art488" onclick="favoris(488,this.id)" class="topright pointer" height="30" width="30"
        src="assets/images/likevide_1.png" alt="">






    <div class="card-body p-2 ">
        <p class="card-title text text-center" data-toggle="almass collection ">{{boutique.nom}} </p>
    </div>
</div>