<nav class="nav_top">
  <div class="container">
    <div class="row mr-0 responsive align-items-center">
      <div class="col col-lg-2 col-xl-2 col-md-12 col-sm-12 text-center">
        <a href="https://app.beldilook.ma/fr"><img alt="" class="img_logo_top image_obligatoire" src="logo-beldiloock.png"></a>
      </div>
      <div class="col col-lg-3 col-xl-3 ml-sm-5" style="text-align: center;">
        <div class="search d-flex justify-content-center">
          <!-- <form action="https://app.beldilook.ma/fr/home" method="get">
            <input class="form-control m-0" name="search" placeholder="Recherche" type="text"> <button style="background-color: transparent; border: none; position: absolute; top: 0; margin-left: 111px;" type="submit"><i class="fa fa-search"></i></button>
          </form> -->
          <button class="btn_sell shadow" style="font-size: 10px; margin-right: 20px;" *ngIf="this.role !== 'MANAGER'">
            <a class="text-light link_product" href=""><span class="btn_plus"></span> {{'register_vendeur'|translate}}</a>
          </button>
        </div>
      </div>
<!--      <div class="col col-xl-2 col-lg-2 col-md-12 col-sm-12" style="text-align: center;">-->
<!--        <ul class="navbar-nav ml-auto d-flex flex-row justify-content-around align-items-center">-->
<!--        &lt;!&ndash; <button class="btn_sell shadow" style="font-size: 10px;"><a class="text-light link_product" href="https://app.beldilook.ma/fr/ajout_produit"><span class="btn_plus">+</span> Vends avec Beldi Look</a></button> &ndash;&gt;-->
<!--        <li class="nav-item bg-light p-1 border_log"  *ngIf="this.auth == 'null'">-->
<!--          <a class="nav-link p-0 text-dark m-2" routerLink="/inscrire"> {{'register'|translate}} </a>-->
<!--        </li>-->
<!--        </ul>-->
<!--      </div>-->
<!--      <div class="col-lg-3 col-xl-3 col-md-12 col-sm-12">-->
<!--        <ul class="navbar-nav ml-auto d-flex flex-row justify-content-around align-items-center">-->
<!--          <li class="nav-item bg-light p-1 border_log">-->
<!--            <a class="nav-link p-0 text-dark m-2"  routerLink="/login"  *ngIf="this.auth == 'null'"> {{'auth'|translate}} </a>-->
<!--            <a class="nav-link p-0 text-dark m-2" (click)="logout()" *ngIf="this.auth !== 'null'"> Se Déconnecter </a>-->
<!--          </li>-->
<!--&lt;!&ndash;          <li class="nav-item bg-light p-1 border_log">&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;            <button routerLink="/inscription" class="nav-link p-0 text-dark">  &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;            S'inscrire &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;            </button>  &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;            <a class="nav-link p-0 text-dark" routerLink="/inscription">S'inscrire</a>&ndash;&gt;-->
<!--&lt;!&ndash;          </li>&ndash;&gt;-->
<!--          &lt;!&ndash; <li class="nav-item bg-light p-1 border_log">-->
<!--            <a class="nav-link p-0 text-dark m-2" routerLink="/inscrire"> S'inscrire </a>-->
<!--          </li> &ndash;&gt;-->
<!--        </ul>-->
<!--      </div>-->
      <div class="col col-xl-1 col-lg-1 col-md-12 col-sm-12" style="text-align: center;">
        <ul class="navbar-nav ml-auto d-flex flex-row justify-content-around align-items-center">
          <li class="nav-item bg-light p-1 border_log" *ngIf="this.auth == 'null'">
            <a class="nav-link p-0 text-dark m-2" routerLink="/inscrire"> {{'register'|translate}} </a>
          </li>
        </ul>
      </div>
      <div class="col-lg-3 col-xl-3 col-md-12 col-sm-12 m-5">
        <ul class="navbar-nav ml-auto d-flex flex-row justify-content-around align-items-center">
          <li class="nav-item bg-light p-1 border_log">
            <a class="nav-link p-0 text-dark m-2" routerLink="/login" *ngIf="this.auth == 'null'"> {{'auth'|translate}}
            </a>
            <a class="nav-link p-0 text-dark m-2" (click)="logout()" *ngIf="this.auth !== 'null'"> Se Déconnecter </a>
          </li>

        </ul>
      </div>

      <div class="col-lg-1 col-xl-1 col-md-12 col-sm-12">
        <div class="nav-item dropdown text-light">
          <a class="nav-link dropdown-toggle text-dark text-center text-light" id="dropdownLang" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img alt="language" class="image_obligatoire" src="assets/images/download-removebg-preview.png" style="height: 27px;">
          </a>
          <div class="dropdown-menu dropdown-menu-right text-dark" aria-labelledby="dropdownLang">
            <a class="dropdown-item" data-lang="en" (click)="ChangeLang($event)">ANGLAIS</a>
            <a class="dropdown-item" data-lang="fr" (click)="ChangeLang($event)">FRANCAIS</a>
            <a class="dropdown-item" data-lang="ar" (click)="ChangeLang($event)">ARABE</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
<div class="container">
  <div class="row p-2 mr-0 contain_link mt-3">
    <div class="col">
      <a class="nav-link link_slected" href="/">{{'accueil'|translate}}</a>
    </div>
    <div class="col">
      <a class="nav-link link_slected" href="/boutique">{{'Boutiques'|translate}}</a>
    </div>
    <div class="col">
      <a class="nav-link link_slected" href="" routerLink="/new">{{'Nouveautés'|translate}}</a>
    </div>
    <div class="col">
      <a class="nav-link link_slected" href="" routerLink="/recherche">{{'Explorer'|translate}}</a>
    </div>
    <div class="col" *ngIf="this.role !== 'null'" >
      <a class="nav-link link_slected" href="" routerLink="/user-dashboard">Votre Dashboard</a>
    </div>
  </div>
</div>


